* {
  font-family: "Poppins", sans-serif;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.para1-media-query{
    display: none;
}
.home-bottom-media{
    display: none;
}

.contact-link {
  text-decoration: none;
  color: #debf79;
  font-weight: 700;
  font-size: 1.2rem;
}

.home-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #222222;
  /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; */
}

.home-content-container {
  padding: 5% 13% 5% 13%;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage-box {
  background-color: #f5f5f5;
  height: 400px;
  width: 400px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}


.homepage-box-heading {
  font-size: 2.2rem;
  text-align: left;
  margin-right: 20%;
}

.homepage-box-para {
  padding: 0 12% 3% 12%;
  font-weight: 500;
  color: #858585;
  text-align: justify;
  font-size: 0.9rem;
}

.learn-more {
  width: 8rem;
  height: 2.5rem;
  background-color: #debf79;
  color: white;
  border: none;
  outline: none;
  font-size: 0.8rem;
  margin-bottom: 3%;
}

.section-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 5%;
}

.homepage-bottom-header {
  font-size: 4rem;
  color: white;
}

.homepage-gold-underline {
  border-bottom: 4px solid #debf79;
  padding-bottom: 0.3rem;
}

.homepage-bottom-text {
  color: white;
}

.homepage-bottom-container {
  width: 65vw;
}

.rabbit {
  margin-top: 6%;
}
.rabbit-heading {
  margin-top: 10%;
}

.home-names-list {
  color: white;
}

@media only screen and (max-width: 815px) {
  .home-container {
    width: 100vw;
  }
  .header-container {
    justify-content: space-around;
    align-items: center;
    margin: 5% 0 10% 0;
  }
  .section-container {
    flex-direction: column;
    align-items: center;
  }
  .homepage-box {
    height: 100%;
    width: 100%;
    margin-top: 2%;
  }
  .home-logo {
    width: 225px;
    height: 47px;
  }
  .homepage-box-heading {
    margin-left: 7%;
    margin-bottom: 2%;
  }
  .home-content-container {
    padding: 2% 2% 2% 2%;
  }
  .box-img {
    margin-top: 10%;
  }
  .learn-more {
    margin-bottom: 10%;
  }
  .homepage-bottom-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .homepage-bottom-header {
      text-align: center;
    font-size: 3rem;
  }
  .homepage-bottom-text {
    text-align: left;
    font-size: 1rem;
    margin: 0 0 5% 5%;
  }
  .bottom1 {
      display: none;
  }
  .para1{
      display: none;
  }
  .para1-media-query{
      display: flex;
  }
  .home-bottom-media{
      display: block;
      text-align: justify;
      font-size: 1rem;
      margin: 0 2% 7% 5%;
      white-space: pre-line;
  }
}
